[project]
	description = Revision of the angular-seed project with Typescript integration
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jay Beavers (JayBeavers)
[access "refs/for/refs/*"]
	read = group user/Jay Beavers (JayBeavers)
	push = group user/Jay Beavers (JayBeavers)
	label-Code-Review = -2..+2 group user/Jay Beavers (JayBeavers)
	label-Verified = -1..+1 group user/Jay Beavers (JayBeavers)
	rebase = group user/Jay Beavers (JayBeavers)
	removeReviewer = group user/Jay Beavers (JayBeavers)
	submit = group user/Jay Beavers (JayBeavers)
[access "refs/heads/*"]
	read = group user/Jay Beavers (JayBeavers)
	create = group user/Jay Beavers (JayBeavers)
	push = +force group user/Jay Beavers (JayBeavers)
	pushMerge = group user/Jay Beavers (JayBeavers)
[access "refs/tags/*"]
	push = +force group user/Jay Beavers (JayBeavers)
	pushTag = group user/Jay Beavers (JayBeavers)
	pushSignedTag = group user/Jay Beavers (JayBeavers)
